pre #
   newdeal = {
           name: 'Ресторан',
           description: 'Получи скидку 60% на ужин в ресторане',
           dealstart: Date.tomorrow,
           dealend: Date.tomorrow.tomorrow,
           maximum: 100, # макс. купонов
           minimum: 10, # мин. купонов
           dealtype: 'unlimited', #тип сделки unlimited, fixprice, certificate
           sellprice: 150, #цена на сайте
           dealprice: 5000, #стоимость самого предложения
           condition: false, # состояние акции Удачаная\Неудачная
           discount: 60
       }

    User.create! name: 'Petr' #Новый пользователь    
    deal = Deal.new.generate newdeal #Создаем новую акцию
    user.buy deal #Покупка купона
    deal.benefit #Выгода по акции
    deal.is_open? #Есть ли еще купоны?
    deal.check_condition #Удачна ли акция?
    deal.coupons_count #Количество купленых купонов по акции
